<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12092366512-q8j5fa77urjka00vj25eqvie1v8mqmgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12092366512-q8j5fa77urjka00vj25eqvie1v8mqmgg</string>
	<key>API_KEY</key>
	<string>AIzaSyDn7SEX5nlD_E2MdrnqJQbffYdXvhKOA4c</string>
	<key>GCM_SENDER_ID</key>
	<string>12092366512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rcfApp</string>
	<key>PROJECT_ID</key>
	<string>rfc-app-11121</string>
	<key>STORAGE_BUCKET</key>
	<string>rfc-app-11121.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12092366512:ios:27946468a70c833735a575</string>
</dict>
</plist>