# Archivos de configuración y claves
app/pc-api-key.json

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

secrets/* 
.vercel
server/.env
server/node_modules
server/dist
server/drizzle
server/drizzle.config.ts
server/drizzle.config.ts
server/drizzle.config.ts

# Google Services
app/GoogleService-Info.plist
android/app/google-services.json