<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12092366512-u74fmbcqem1m27imkbmrs4kdf2uhf15o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12092366512-u74fmbcqem1m27imkbmrs4kdf2uhf15o</string>
	<key>API_KEY</key>
	<string>AIzaSyDn7SEX5nlD_E2MdrnqJQbffYdXvhKOA4c</string>
	<key>GCM_SENDER_ID</key>
	<string>12092366512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arielcito.RFCApp</string>
	<key>PROJECT_ID</key>
	<string>rfc-app-11121</string>
	<key>STORAGE_BUCKET</key>
	<string>rfc-app-11121.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12092366512:ios:fcd78336b0efb1c835a575</string>
	<key>GOOGLE_MAPS_API_KEY</key>
	<string>AIzaSyDiNmgWgB0CGoM1EG6CT846M83bpRdso-Q</string>
</dict>
</plist>